html{scroll-behavior:smooth}

body{
  margin:0;
}
.header_plans{
  padding: 10px;
}

.section_planos {
  padding: 50px;
  background-color: #eee;
}

.section_planos h3 {
  font-size: 40px;
  margin-bottom: 10px;
}
.text_fipe{
  font-size: 25px;
    color: #fff;
    font-weight: 700;
}
.input_fipe{
  width: 56%;
  height: 67px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 19px;
  font-size: 30px;
}
.botao_fipe{
  width: 23%;
    font-size: 30px;
    color: #fff;
    background: #1572aa;
    font-weight: 800;
    margin: auto;
    border: none;
}
.contact_check {
  padding: 50px;
  background-color: #57585a;
  display: flex;
  align-items: center 
}

.form_contact{
  background-color: #fff;
  padding: 15px;
  border-radius: 9px;
  border: 1px solid #333;
  box-shadow: 1px 2px 5px 5px #888888;
}

.form_contact h2{
  font-size: 30px;
}

.img_contact {
  padding-top: 50px;
}

.header_plans img {
  right: 76px;
  top: 245px;
  float: right;
  position: absolute;
  padding: 10px;
  height: 200px;
}

.check_footer {
  height: 60px;
  background-color: black;
  color: #fff;
  line-height: 60px;
  border: 1px solid #333;
}

.check_fipe {
  padding: 50px;
  background-color: #1572aa;
}

.menus{
  color: #007bff !important;
  font-weight: 700;
}
.seta{
  color: red;
  position: absolute;
  font-size: 49px;
  right: 24px;
}
.largura{
  margin-left: 70px;
  margin-right: 70px;
}
.plano{
  height: 41px;
  font-size: 19px;
  font-weight: 800;
}
.card_oferta{
  font-size: 26px;
  font-weight: 700;
  color: #11a50f;
}
.espaco{
  margin-right: 10px;
}
.botao{
  width: 80%;
  height: 65px;
  font-size: 35px;
  font-weight: 800;
}
